<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SNCFT</title>
</head>
<body>
	<div class="container">
		<div class="panel">
			<div class="panel-img"> <img src="/assets/imgtext.jpg" alt=""></div>
			<div class="panel-login">
            
		  		<h2>Connexion</h2>
                  <br> 
		    	<form method="post" (submit)="login($event)">

		      	<div class="panel-group">
		        	<input class="input" type="text" placeholder="Nom d'utilisateur" name="username" [(ngModel)]="username" >
					<br>
                    <input class="input" type="password" placeholder="Mot de passe"  name="password"  [(ngModel)]="password" >
		        	
		      	</div>
		      	<button type="submit" class="btn" >Connexion</button>
		    	</form>
		    	<div class="panel-footer">
					
		      		<p><a href="#" [routerLink]="['/resetpassword']">Mot de passe oublié? </a></p>
		    	</div>
		    </div>
		</div>
	</div>
</body>
</html>
