<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">


</head>

<body>
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h3 class="title">Ajouter Utilisateur </h3>
                </div>
                <div class="card-body">
                    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="form-row m-b-55">
                            <div class="name">Utilisateur </div>
                            <div class="value">
                                <div class="row row-space">
                                    <!--  nom************************************************************************* -->
                                    <div class="col-5">
                                        <div class="input-group-desc">
                                            <input  type="text" formControlName="nom" placeholder=" Nom" class="form-control "  [ngClass]="{ 'is-invalid': submitted && f.nom?.errors }" >

        
                                            <div *ngIf="submitted && f.nom?.errors" class="invalid-feedback">
                                                <div *ngIf="f.nom?.errors.required">Ce champ est obligatoire</div>
                                            </div>
                                        </div>
                                    </div>
                                     <!--  prenom************************************************************************* -->
                                    <div class="col-5">
                                        <div class="input-group-desc">
                                            <input  type="text" formControlName="prenom" placeholder=" Prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom?.errors }" >
                                         
                                            <div *ngIf="submitted && f.prenom?.errors" class="invalid-feedback">
                                                <div *ngIf="f.prenom?.errors.required">Ce champ est obligatoire</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- matricule************************************************************************* -->
                    <div class="form-row">
                        <div class="name">Matricule</div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input type="text" formControlName="matricule" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matricule?.errors }" >
                                
                                    <div *ngIf="submitted && f.matricule?.errors" class="invalid-feedback">
                                    <div *ngIf="f.matricule?.errors.required">Ce champ est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                         <!--  email************************************************************************* -->
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input  type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }" >
                                
                                <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                                    <div *ngIf="f.email?.errors.required">Ce champ est obliatoire</div>
                                    <div *ngIf="f.email?.errors.email">Adresse email invalide </div>
                                </div>
                            </div>
                            </div>
                        </div>
                         <!--  mdp************************************************************************* -->
                        <div class="form-row">
                            <div class="name"> Mot de passe </div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input  type="password" formControlName="mdp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mdp?.errors }" >
                                
                                <div *ngIf="submitted && f.mdp?.errors" class="invalid-feedback">
                                    <div *ngIf="f.mdp?.errors.required">Ce champ est obligatoire</div>
                                    <div *ngIf="f.mdp?.errors.minlength">Ce champ doit contenir au moins 6 lettres</div>
                                </div>
                                </div>
                            </div>
                        </div>
                         <!--  confmdp************************************************************************* -->
                        <div class="form-row">
                            <div class="name"> Confirmer Mot de passe </div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="password" formControlName="confmdp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confmdp?.errors }" >
                                
                                <div *ngIf="submitted && f.confmdp?.errors" class="invalid-feedback">
                                    <div *ngIf="f.confmdp?.errors.required">Ce champ est obligatoire</div>
                                    <div *ngIf="f.confmdp?.errors.mustMatch">Vos mots de passe ne correspondent pas, Veuillez réessayer</div>
                                </div>
                            </div>
                            </div>
                        </div>

                     <!--  tel************************************************************************* -->
                        <div class="form-row">
                            <div class="name"> Téléphone </div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input  type="text" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel?.errors }" >
                                
                                <div *ngIf="submitted && f.tel?.errors" class="invalid-feedback">
                                    <div *ngIf="f.tel.errors?.required"> Ce champ est obligatoire</div>
                                    <div *ngIf="f.tel.errors?.maxlength">Ce champ doit contenir 8 chiffres</div>
                                    <div *ngIf="f.tel.errors?.minlength">Ce champ doit contenir 8 chiffres</div>
                                    <div *ngIf="f.tel.errors?.pattern">Ce champ doit contenir que des chiffres</div>
                                </div>
                            </div>
                            </div>
                        </div>

                     <!--  profil************************************************************************* -->
                        <div class="form-row">
                            <div class="name"> Profil </div>
                            <div class="value">
                            <select formControlName="profil" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profil?.errors }">
                                <option value=""></option>
                                <option value="Administrateur">Administrateur</option>
                                <option value="Caissier" > Caissier </option>
                            </select>
                            <div *ngIf="submitted && f.profil?.errors" class="invalid-feedback">
                                <div *ngIf="f.profil?.errors.required">Ce champ est obligatoire</div>
                            </div>
                        </div>
                        </div>

                       <!--  caisse************************************************************************* -->  
                       <div class="form-row">
                        <div class="name"> Caisse </div>
                        <div class="value">
                        <select formControlName="caisse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.caisse?.errors }">
                            <option> </option> 
                            <option *ngFor="let u of uii" [value]="u.id"  >{{u.code}}</option>
                            
                        </select>
                        <div *ngIf="submitted && f.caisse?.errors" class="invalid-feedback">
                            <div *ngIf="f.caisse?.errors.required">Ce champ est obligatoire</div>
                        </div>
                    </div>
                    </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn--radius-2 btn--red" type="submit"> Ajouter</button>
                            &nbsp;
                            <button class="btn btn--radius-2 btn--red"
                                [routerLink]="['/pages/extra-components/calendar']" type="reset"> Quitter </button>
 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>

</html>