<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">


</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h3 class="title"> Mes informations personnelles </h3>
                </div>
                <div class="card-body">
                    <form>
                        <div *ngIf="pro">
                            <div>
                              <label><b>Matricule: </b></label> {{pro.matricule}}
                            </div>
                            <div>
                              <label><b>Nom: </b></label> {{pro.nom}}
                            </div>
                          
                            <div>
                              <label><b>Prenom: </b></label> {{pro.prenom}}
                            </div>
                            <div>
                              <label><b>Email : </b></label> {{pro.email}}
                            </div>
                            <div>
                              <label><b>Tel: </b></label> {{pro.tel}}
                            </div>
                            <div>
                              <label><b>Etat: </b></label> {{pro.enabled}}
                            </div>
                            <div>
                              <label><b>Profil : </b></label> {{pro.role[0]}}
                            </div>
                          
                          
                          </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn--radius-2 btn--red" [routerLink]="['/profil/modifierprofil']" type="submit">Modifier</button>
                            &nbsp;  
                            <button class="btn btn--radius-2 btn--red" type="submit"  [routerLink]="['/pages/dashboard']" >Quitter </button>
                               
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   

</body>

</html>