<div class="panel panel-primary">
    <div class="text-center">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Search" />
          
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <br>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Matricule</th>
            <th>Reférence</th>
            <th>Motif</th>
            <th>Somme </th>
            <th>Type reçu </th>
            <th> Code banque </th>
            <th>Arrêtée</th>
            <th>Imprimée</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>eya</td>
          <td>bq</td>
          <td>bq</td>
          <td>bq </td> 
          <td>Actif </td> 
          <td>Actif </td> 
          <td>hahah</td> 
          <td>hahah</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>